<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='css/main.css') }}"
          rel="stylesheet">
</head>
<body>
<!-- Hero Section -->
<!-- <div class="bg-hero bg-no-repeat bg-cover bg-center bg-fixed h-screen"> -->
<div class="bg-hero bg-no-repeat bg-cover bg-center bg-fixed">
    <div class="h-screen flex items-center justify-center">
        <div class="p-20 rounded-large backdrop-blur-md">
            <div class="text-center">
                <h1 class="text-4xl font-bold text-white">OnDéménage</h1>
            </div>
            <div class="text-center">
                <p class="mt-4 text-lg md:text-xl"><em>À venir</em></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>

